#page-title,
.titles {
  margin-top: 2px;
  text-align: center;
  font-size: 8.5rem;
  font-family: "Times New Roman", Times, serif;
}

.images {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: solid dodgerblue 3px;
  padding-top: 1px;
  margin: 10px auto 10px auto;
}

.links {
  text-decoration: solid;
  font-weight: bold;
  font-size: 1.5rem;
  color: blue;
  margin: 10px;
  background-color: aqua;
}

.container {
  text-align: center;
  margin: 30px;
}

#arrow {
  text-align: center;
  display: block;
  margin: auto;
}

#arrow img {
  width: 50px;
  height: 50px;
}
